__pycache__
.vscode
env
.env
.envFile
app.pyc
__init__.pyc
config.pyc
users.pyc
test_app.pyc
util.pyc
products.pyc
sales.pyc
db.pyc
dbqueries.pyc
utilities.pyc
shell/
node_modules/
.eslintrc.js
package.json