<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="All store operations in one place">
        <meta name="keywords" content="all in one app, store management">
        <meta name="author" content="Ronnie N">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Store Manager | Login</title>
        <link rel="stylesheet" href="/UI/static/style.css">
    </head>

    <body>
        <div class="site">
            <header class="branding">
                <h1 class="title">Store Manager</h1>
            </header>
            <div class="form">
                <form id="addUser">
                    <input type="text" id="name" class="entry" name="t1" placeholder="name"/>
                    <input type="text" id="username" class="entry" name="t2" placeholder="username"/>
                    <input type="password" id="password" class="entry" name="t3" placeholder="password"/>
                    <input type="password" id="confirm" class="entry" name="t4" placeholder="confirm password"/>
                    <input type="text" id="role" class="entry" name="t5" placeholder="role"/>
                    <input type="submit" value="Register" class="submit"><br>
                    <span class="msg"></span>
                    <p class="message">Registered User? <a href="#">Login</a></p>
                </form>
                <form id="loginUser">
                    <input type="text" class="entry" placeholder="username" id="loginUsername" required/>
                    <input type="password" class="entry" placeholder="password" id="loginPassword" required/>
                    <input type="submit" value="Login" class="submit"><br>
                    <span class="msg"></span>
                    <p class="message">New Admin? <a href="#">Register</a></p>
                </form>
            </div>
        </div>
    <script src="/UI/static/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    
    <script>
        $('.message a').click(() => {
            $('form').animate({height: "toggle", opacity: "toggle"}, 'slow');
        });

        $(function () {
            $('.entry').focusout(() => {
                var name = $("input[name='t1']").val();
                var username = $("input[name='t2']").val();
                var password = $("input[name='t3']").val();
                var confirm = $("input[name='t4']").val();
                var role = $("input[name='t5']").val();
                var password_error = $("span[name='s1']").val();
                if (name == '')
                    $("#name").css("border-color", "#c77272");
                else
                    $("#name").css("border-color", "#427e3a");
                if (username == '')
                    $("#username").css("border-color", "#c77272");    
                else
                    $("#username").css("border-color", "#427e3a");
                if (password == '')
                    $("#password").css("border-color", "#c77272");    
                else
                    $("#password").css("border-color", "#427e3a");
                if (confirm == '' || confirm != password)
                    $("#confirm").css("border-color", "#c77272");
                else
                    $("#confirm").css("border-color", "#427e3a");
                if (role == '')
                    $("#role").css("border-color", "#c77272");    
                else
                    $("#role").css("border-color", "#427e3a");
            });
            $('.message').click(() => {
                if (name == '' || username == '' || password == '' || role == '')
                    $('.entry').css("border-color", "#c77272"); 
            });
        });
    </script>
    </body>
</html>