<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="All store operations in one place">
        <meta name="keywords" content="all in one app, store management">
        <meta name="author" content="Ronnie N">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Store Manager | Login</title>
        <link rel="stylesheet" href="/UI/static/style.css">
    </head>

    <body>
        <div class="site">
            <header class="branding">
                <h1 class="title">Store Manager</h1>
            </header>
            <form class="form">
                <input type="text" class="entry" placeholder="user name" id="login" required/>
                <input type="password" class="entry" placeholder="password" id="password" required/>
                <button type="button" id="submit"  onclick="checkLogin()">login</button>
                <p id="checker"></p>
            </form>
        </div>
    <!-- js -->
    <script src="/UI/static/mystyles.js"></script>
    </body>
</html>