/* Universal */
*{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html{
    background: url(../static/layout.jpg) no-repeat center fixed;
    height: 100vh;
    background-size: cover;
    overflow: visible;
}

/* Header */
.branding{
    position: relative;
    background:rgba(28, 88, 86, 0.5);
    overflow: visible;
    font-size: 3.2vw;
    color: #0f3317;
}

/* Sidebar */
.sidebar{
    position: relative;
    /* width: 40%; */
    height: 80vh;
    background: rgba(68, 71, 73, 0.8);
}

.sidebar ul li{
    position: inherit;
    font-size: 20px;
    color: rgba(230, 230, 230, 0.9);
    list-style: none;
    padding: 15px 15px;
    border-bottom: 2px solid rgba(68, 71, 73, 0.8);
    cursor: pointer;
}
.sidebar ul li:hover{
    background: rgba(50, 53, 54, 0.8);
}

.dash div{
    text-align: center;
    padding: 1em;
    color: #fff;
    font-size: 140%;
    cursor: pointer;
}

.db{
    font-size: 180%;
    font-weight: bold;
    color: rgb(37, 44, 44)
}

.dash i{
    font-size: 160%;
}

.dash{
    margin: 0 2em;
}

footer{
    background:rgba(28, 88, 86, 0.5);
    font-size: 15px;
    text-align: center;
}

/* site Grid areas */
header{
    grid-area: hd;
}

footer{
    grid-area: ft;
}

main{
    grid-area: main;
}

aside{
    grid-area: sidebar;
}

.site{
    display: grid;
    grid-template-columns: 2fr 8fr;
    /* grid-template-rows: auto 2fr 2fr auto; */
    grid-gap: 8px;
    grid-template-areas:
        "hd        hd"
        "sidebar main"
        "ft        ft";     
}

/* The Dash Grid */
.site .dash{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: auto 2fr 2fr 2fr 2fr 2fr;
    grid-gap: 9px;
}

.cart{
    grid-column: 1;
    grid-row: 2;
    background-color: rgb(4, 253, 212);
}
.cust{
    grid-column: 2;
    grid-row: 2;
    background-color: rgb(99, 247, 8);;
}
.mysales{
    grid-column: 3;
    grid-row: 2;
    background-color: rgb(48, 22, 252);

}
.logout{
    grid-column: 4;
    grid-row: 2;
    background-color: rgb(250, 64, 2);
}
.acc{
    grid-column: 1;
    grid-row: 3;
    background-color: #f4f802;
}
.inv{
    grid-column: 2;
    grid-row: 3;
    background-color: rgb(2, 136, 245);
}
.log{
    grid-column: 3;
    grid-row: 3;
    background-color: #FFB400;
}
.rep{
    grid-column: 4;
    grid-row: 3;
    background-color: rgb(253, 2, 69);
}
.cat{
    grid-column: 1;
    grid-row: 4;
    background-color: rgb(245, 113, 6);
}
.set{
    grid-column: 2;
    grid-row: 4;
    background-color: rgb(237, 6, 245);
}

@media (max-width: 640px){
    .site{
        display: grid;
        grid-gap: 10px;
        grid-template-areas:
            "hd"
            "main"
            "sidebar"
            "ft";
    }

    /* The Dash Grid */
    .site .dash{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 8px;
    }
}