/* Universal */
*{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

html{
    background: #f1f7f2;
    height: 100vh;
    background-size: cover;
    overflow: hidden;
}

/* Header */
.branding{
    position: relative;
    overflow: visible;
    text-align: center;
    font-size: 20px;
    color: #246833;
}

form{
    position: relative;
    background: rgba(186, 241, 240, 0.8);
    padding: 20px 0 20px 0;
    text-align: center;
}

.form .progress-bar {
    display: none;
    width: 0%;
    height: 5px;
    background: linear-gradient(to right,
    rgb(78,128,72),rgb(90,200,250),rgb(0,132,255),
    rgb(52,170,220),rgb(88,86,217),rgb(78,128,72));
    background-size: 350px 5px;
    border-radius: 10px;
    animation: loading 8s ease-in-out infinite;
}

@keyframes loading {
    to {
        width: 100%;
    }
}

/* Login */
form .entry{
    font-family: "Roboto", "sans-serif";
    outline: 1;
    background: #f7f6f6;
    width: 80%;
    border: 1px solid #e6ece9;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 15px;
}

form .submit{
    font-family: 'Roboto', 'sans-serif';
    text-transform: uppercase;
    outline: 0;
    background: #597c55;
    width: 80%;
    border: none;
    padding: 10px;
    color: #ffffff;
    font-size: 15px;
    cursor: pointer;
}

form .submit:hover{
    background: #486444;
}

.form .message{
    margin: 15px, 0, 0;
    color: #193615;
    font-size: 15px;
}

.form .message a{
    text-decoration: none;
    color: #03136d
}

.form #addUser{
    display: none;
}

.msg, .errMsg{
    color: rgb(100, 13, 13);
}

/* The Grid */
.site{
    display: grid;
    grid-template-columns: 1fr minmax(300px, 400px) 1fr;
    grid-template-rows: 20vh auto 2fr 2fr;
}

.branding{
    grid-column: 2/3;
    grid-row: 2/3;
}

.form{
    grid-column: 2/3;
    grid-row: 3/4;
}