<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="All store operations in one place">
        <meta name="keywords" content="all in one app, store management">
        <meta name="author" content="Ronnie N">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Store Manager | Inventory</title>
        <link rel="stylesheet" href="../../static/dashstyle.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="site">
            <header class="branding">
                <h1 class="title">Store Manager</h1>
            </header>
            <aside class="sidebar">
                <ul>
                    <a href="dashboard.html"><li><i class="fa fa-users"></i> Dashboard</li></a>
                    <a href="inventory.html"><li><i class="fa fa-calendar-check-o"></i> Inventory</li></a>
                    <a href="reports.html"><li><i class="fa fa-bar-chart"></i> Reports</li></a>
                    <a href="accounts.html"><li><i class="fa fa-address-book-o"></i> Accounts</li></a>
                    <a href="categories.html"><li><i class="fa fa-tags"></i> Categories</li></a>
                    <a href="#"><li><i class="fa fa-gears"></i> Settings</li></a>
                </ul>
            </aside>
            <main class="stock">
                <h2 class="db">User Accounts</h2>
                <span class="loggedin"><i class="fa fa-user-circle-o"></i> </span>
                <table id="mytable">
                    <thead>
                        <tr>
                            <th>Select</th>
                            <th>Id#</th>
                            <th>Name</th>
                            <th>username</th>
                            <th>role</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>2</td>
                            <td>Jonnie Pemba</td>
                            <td>jonnie</td>
                            <td>admin</td>
                            <td class="txtright"><i class="fa fa-edit"onclick="editRow(this)"></i></td>
                            <td class="txtdel"><i class="fa fa-close" onclick="deleteRow(this)"></i></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox"></td>
                            <td>1</td>
                            <td>Moon Walker</td>
                            <td>walker</td>
                            <td>attendant</td>
                            <td class="txtright"><i class="fa fa-edit"onclick="editRow(this)"></i></td>
                            <td class="txtdel"><i class="fa fa-close" onclick="deleteRow(this)"></i></td>
                        </tr>  
                    </tbody>                 
                </table>
                <div class="form">
                    <form id="addUser">
                        <input type="text" id="name" class="entry" name="t1" placeholder="name"/>
                        <input type="text" id="username" class="entry" name="t2" placeholder="username"/>
                        <input type="password" id="password" class="entry" name="t3" placeholder="password"/>
                        <input type="password" id="confirm" class="entry" name="t4" placeholder="confirm password"/>
                        <select class="entry" id="role">
                            <option value="attendant">attendant</option>
                            <option value="admin">admin</option>
                        </select><br>
                        <span class="msg"></span>
                        <span id="msg2"></span>
                        <input type="submit" id="addButton" class="accountButton" value="add user">
                    </form>
                    <form id="updateUser">
                        <input type="text" id="updateName" class="entry" name="t5" placeholder="name"/>
                        <input type="text" id="updateUsername" class="entry" name="t6" placeholder="username"/>
                        <input type="password" id="updatePassword" class="entry" name="t7" placeholder="password"/>
                        <input type="password" id="updateConfirm" class="entry" name="t8" placeholder="confirm password"/>
                        <select class="entry">
                            <option value="attendant">attendant</option>
                            <option value="admin">admin</option>
                        </select><br>
                        <span class="msg" id="updateMsg"></span>
                        <input type="submit" id="updateButton" class="accountButton" value="update user">
                    </form>
                </div>
            </main>
            <footer class="foot">
                <p>Store Manager, Copyright &copy; 2018</p>
            </footer>
        </div>
    <!-- js -->
    <script src="../../static/api.js"></script>
    <script src="../../static/admin/accounts.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    
    <script>
        $(function () {
            $('.entry').focusout(() => {
                var name = $("input[name='t1']").val();
                var username = $("input[name='t2']").val();
                var password = $("input[name='t3']").val();
                var confirm = $("input[name='t4']").val();
                var password_error = $("span[name='s1']").val();
                var updateName = $("input[name='t5']").val();
                var updateUsername = $("input[name='t6']").val();
                var updatePassword = $("input[name='t7']").val();
                var updateConfirm = $("input[name='t8']").val();
                if (name == '')
                    $("#name").css("border-color", "#c77272");
                else
                    $("#name").css("border-color", "#427e3a");
                if (username == '')
                    $("#username").css("border-color", "#c77272");    
                else
                    $("#username").css("border-color", "#427e3a");
                if (password == '')
                    $("#password").css("border-color", "#c77272");    
                else
                    $("#password").css("border-color", "#427e3a");
                if (confirm == '' || confirm != password)
                    $("#confirm").css("border-color", "#c77272");
                else
                    $("#confirm").css("border-color", "#427e3a");
                if (updateName == '')
                    $("#updateName").css("border-color", "#c77272");    
                else
                    $("#updateName").css("border-color", "#427e3a");
                if (updateUsername == '')
                    $("#updateUsername").css("border-color", "#c77272");    
                else
                    $("#updateUsername").css("border-color", "#427e3a");
                if (updatePassword == '')
                    $("#updatePassword").css("border-color", "#c77272");    
                else
                    $("#updatePassword").css("border-color", "#427e3a");
                if (updateConfirm == ''|| updateConfirm != updatePassword)
                    $("#updateConfirm").css("border-color", "#c77272"),
                    $("#updateMsg").val = 'Passwords dont much!';
                else
                    $("#updateConfirm").css("border-color", "#427e3a");
            });
            $('#updateButton').click(() => { 
                if (updateConfirm == ''|| updateConfirm != updatePassword)
                    $("#updateMsg").val = 'Passwords dont much!';
            });
        });
    </script>
    </body>
</html>