<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="All store operations in one place">
        <meta name="keywords" content="all in one app, store management">
        <meta name="author" content="Ronnie N">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Store Manager | Dashboard</title>
        <link rel="stylesheet" href="../../static/dashstyle.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="site">
            <header class="branding">
                <h1 class="title">Store Manager</h1>
            </header>
            <aside class="sidebar">
                <ul>
                    <a href="dashboard.html"><li><i class="fa fa-users"></i> Dashboard</li></a>
                    <a href="inventory.html"><li><i class="fa fa-calendar-check-o"></i> Inventory</li></a>
                    <a href="reports.html"><li><i class="fa fa-bar-chart"></i> Reports</li></a>
                    <a href="accounts.html"><li><i class="fa fa-address-book-o"></i> Accounts</li></a>
                    <a href="categories.html"><li><i class="fa fa-tags"></i> Categories</li></a>
                    <a href="settings.html"><li><i class="fa fa-gears"></i> Settings</li></a>
                </ul>
            </aside>
            <main class="dash">
                <h2 class="db">Dashboard</h2>
                <p id="admin"><i class="fa fa-user-circle-o"></i> ADMIN</p>
                <div class="cart"><a href="cart.html"><i class="fa fa-cart-arrow-down"></i> Cart</a></div>
                <div class="cust"><a href="#"><i class="fa fa-smile-o"></i> Customer</a></div>
                <div class="mysales"><a href="mysales.html"><i class="fa fa-money"></i> mySales</a></div>
                <div class="logout"><a href="../index.html"><i class="fa fa-sign-out"></i> logout</a></div>
                <div class="acc"><a href="accounts.html"><i class="fa fa-user-plus"></i> Accounts</a></div>
                <div class="inv"><a href="inventory.html"><i class="fa fa-calendar-check-o"></i> Inventory</a></div>
                <div class="log"><a href="#"><i class="fa fa-pencil-square-o"></i> logs</a></div>
                <div class="cat"><a href="categories.html"><i class="fa fa-tags"></i> Categories</a></div>
                <div class="rep"><a href="reports.html"><i class="fa fa-bar-chart"></i> Reports</a></div>
                <div class="set"><a href="#"><i class="fa fa-gears"></i> Settings</a></div>
            </main>
            <footer class="foot">
                <p>Store Manager, Copyright &copy; 2018</p>
            </footer>
        </div>
    <!-- js -->
    <script src="../../static/mystyles.js"></script>
    </body>
</html>