<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="All store operations in one place">
        <meta name="keywords" content="all in one app, store management">
        <meta name="author" content="Ronnie N">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Store Manager | Inventory</title>
        <link rel="stylesheet" href="../../static/dashstyle.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body onload="loadTable()">
        <div class="site">
            <header class="branding">
                <h1 class="title">Store Manager</h1>
            </header>
            <aside class="sidebar">
                <ul>
                    <a href="dashboard.html"><li><i class="fa fa-users"></i> Dashboard</li></a>
                    <a href="inventory.html"><li><i class="fa fa-calendar-check-o"></i> Inventory</li></a>
                    <a href="reports.html"><li><i class="fa fa-bar-chart"></i> Reports</li></a>
                    <a href="accounts.html"><li><i class="fa fa-address-book-o"></i> Accounts</li></a>
                    <a href="categories.html"><li><i class="fa fa-tags"></i> Categories</li></a>
                    <a href="settings.html"><li><i class="fa fa-gears"></i> Settings</li></a>
                </ul>
            </aside>
            <main class="stock">
                <h2 class="db">Inventory</h2>
                <p class="user"><i class="fa fa-user-circle-o"></i> Admin</p>
                <button type="button" id="freezebutton" class="insert"  onclick="">Freeze product</button>
                <button type="button" id="addbutton" class="insert"  onclick="">Add product</button>
                <table id="mytable">
                    <thead>
                        <tr>
                            <th>product name</th>
                            <th>Id#</th>
                            <th>category</th>
                            <th>stock</th>
                            <th>min_stock</th>
                            <th>price</th>
                            <th>stocked on</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Bell-bottoms</td>
                            <td>15</td>
                            <td>pants</td>
                            <td>30</td>
                            <td>20</td>
                            <td>200</td>
                            <td>01-02-2018</td>
                            <td class="txtright"><i class="fa fa-edit" onclick="deleteRow(this)"></i></td>
                            <td class="txtdel"><i class="fa fa-close" onclick="deleteRow(this)"></i></td>
                        </tr>
                        <tr>
                            <td>NY-pants</td>
                            <td>5</td>
                            <td>pants</td>
                            <td>25</td>
                            <td>20</td>
                            <td>150</td>
                            <td>22-05-2018</td>
                            <td class="txtright"><i class="fa fa-edit"></i></td>
                            <td class="txtdel"><i class="fa fa-close" onclick="deleteRow(this)"></i></td>
                        </tr>
                    </tbody>
                </table>
            </main>
            <footer class="foot">
                <p>Store Manager, Copyright &copy; 2018</p>
            </footer>
        </div>
    <!-- js -->
    <script src="../../static/inventory.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    </body>
</html>