<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="All store operations in one place">
        <meta name="keywords" content="all in one app, store management">
        <meta name="author" content="Ronnie N">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Store Manager | Inventory</title>
        <link rel="stylesheet" href="../../static/dashstyle.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="site">
            <header class="branding">
                <h1 class="title">Store Manager</h1>
            </header>
            <aside class="sidebar">
                <ul>
                    <a href="dashboard.html"><li><i class="fa fa-users"></i> Dashboard</li></a>
                    <a href="inventory.html"><li><i class="fa fa-calendar-check-o"></i> Inventory</li></a>
                    <a href="reports.html"><li><i class="fa fa-bar-chart"></i> Reports</li></a>
                    <a href="accounts.html"><li><i class="fa fa-address-book-o"></i> Accounts</li></a>
                    <a href="categories.html"><li><i class="fa fa-tags"></i> Categories</li></a>
                    <a href="settings.html"><li><i class="fa fa-gears"></i> Settings</li></a>
                </ul>
            </aside>
            <main class="stock">
                <h2 class="db">Inventory</h2>
                <span class="loggedin"><i class="fa fa-user-circle-o"></i> </span>
                <table id="mytable">
                    <thead>
                        <tr>
                            <th>product name</th>
                            <th>Id#</th>
                            <th>category</th>
                            <th>stock</th>
                            <th>min_stock</th>
                            <th>price</th>
                            <th>stocked on</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Bell-bottoms</td>
                            <td>15</td>
                            <td>pants</td>
                            <td>30</td>
                            <td>20</td>
                            <td>200</td>
                            <td>01-02-2018</td>
                            <td class="txtright"><i class="fa fa-edit" onclick="editRow(this)"></i></td>
                            <td class="txtdel"><i class="fa fa-close" onclick="deleteRow(this)"></i></td>
                        </tr>
                        <tr>
                            <td>NY-pants</td>
                            <td>5</td>
                            <td>pants</td>
                            <td>25</td>
                            <td>20</td>
                            <td>150</td>
                            <td>22-05-2018</td>
                            <td class="txtright"><i class="fa fa-edit" onclick="editRow(this)"></i></td>
                            <td class="txtdel"><i class="fa fa-close" onclick="deleteRow(this)"></i></td>
                        </tr>
                    </tbody>
                </table>
                <div class="form">
                    <form id="addProduct">
                        <input type="text" id="prodName" class="entry" name="t1" placeholder="product name"/>
                        <select class="entry" id="category">
                            <option value="kids">Kids</option>
                            <option value="shirts">Shirts</option>
                            <option value="tops">Tops</option>
                            <option value="shoes">Shoes</option>
                            <option value="denims">Denims</option>
                            <option value="jackets">Jackets</option>
                            <option value="pants">Pants</option>
                            <option value="suits">Suits</option>
                            <option value="accessories">Accessories</option>
                            <option value="beach">Beach</option>
                            <option value="bags">Bags</option>
                            <option value="lingerie">Lingerie</option>
                        </select><br>
                        <input type="number" id="stock" class="entry" name="t3" min="1" placeholder="stock"/>
                        <input type="number" id="price" class="entry" name="t4" min="25" placeholder="price"/><br>
                        <span class="msg"></span>
                        <input type="submit" id="addButton" class="accountButton" value="add product">
                    </form>
                    <form id="updateProduct">
                        <input type="text" id="uProdName" class="entry" name="t5" placeholder="product name"/>
                        <select class="entry" id="uCategory">
                            <option value="kids">Kids</option>
                            <option value="shirts">Shirts</option>
                            <option value="tops">Tops</option>
                            <option value="shoes">Shoes</option>
                            <option value="denims">Denims</option>
                            <option value="jackets">Jackets</option>
                            <option value="pants">Pants</option>
                            <option value="suits">Suits</option>
                            <option value="accessories">Accessories</option>
                            <option value="beach">Beach</option>
                            <option value="bags">Bags</option>
                            <option value="lingerie">Lingerie</option>
                        </select><br>
                        <input type="number" id="uStock" class="entry" name="t7" min="1" placeholder="stock"/>
                        <input type="number" id="uPrice" class="entry" name="t8" min="25" placeholder="price"/><br>
                        <span class="msg" id="updateMsg"></span>
                        <input type="submit" id="updateButton" class="accountButton" value="update product">
                    </form>
                </div>
            </main>
            <footer class="foot">
                <p>Store Manager, Copyright &copy; 2018</p>
            </footer>
        </div>
    <!-- js -->
    <script src="../../static/inventory.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

    <script>
        $(function () {
            $('.entry').focusout(() => {
                var prod_name = $("input[name='t1']").val();
                var category = $("input[name='t2']").val();
                var stock = $("input[name='t3']").val();
                var price = $("input[name='t4']").val();
                var uprodName = $("input[name='t5']").val();
                var uCategory = $("input[name='t6']").val();
                var uStock = $("input[name='t7']").val();
                var uPrice = $("input[name='t8']").val();
                if (prod_name == '')
                    $("#prodName").css("border-color", "#c77272");
                else
                    $("#prodName").css("border-color", "#427e3a");
                if (category == '')
                    $("#category").css("border-color", "#c77272");    
                else
                    $("#category").css("border-color", "#427e3a");
                if (stock == '')
                    $("#stock").css("border-color", "#c77272");    
                else
                    $("#stock").css("border-color", "#427e3a");
                if (price == '')
                    $("#price").css("border-color", "#c77272");    
                else
                    $("#price").css("border-color", "#427e3a");
                if (uprodName == '')
                    $("#uProdName").css("border-color", "#c77272");    
                else
                    $("#uProdName").css("border-color", "#427e3a");
                if (uCategory == '')
                    $("#uCategory").css("border-color", "#c77272");    
                else
                    $("#uCategory").css("border-color", "#427e3a");
                if (uStock == '')
                    $("#uStock").css("border-color", "#c77272");    
                else
                    $("#uStock").css("border-color", "#427e3a");
                if (uPrice == '')
                    $("#uPrice").css("border-color", "#c77272");    
                else
                    $("#uPrice").css("border-color", "#427e3a");
            });
        });
    </script>
    </body>
</html>