<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="All store operations in one place">
        <meta name="keywords" content="all in one app, store management">
        <meta name="author" content="Ronnie N">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Store Manager | Dashboard</title>
        <link rel="stylesheet" href="../../static/dashstyle.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>

    <body>
        <div class="site">
            <header class="branding">
                <h1 class="title">Store Manager</h1>
            </header>
            <aside class="sidebar">
                <ul>
                    <a href="dashboard.html"><li><i class="fa fa-users"></i> Dashboard</li></a>
                    <a href="inventory.html"><li><i class="fa fa-calendar-check-o"></i> Inventory</li></a>
                    <a href="reports.html"><li><i class="fa fa-bar-chart"></i> Reports</li></a>
                    <a href="accounts.html"><li><i class="fa fa-address-book-o"></i> Accounts</li></a>
                    <a href="categories.html"><li><i class="fa fa-tags"></i> Categories</li></a>
                    <a href="settings.html"><li><i class="fa fa-gears"></i> Settings</li></a>
                </ul>
            </aside>
            <main class="stock">
                <h2 class="db">mySale Records</h2>
                <p class="user"><i class="fa fa-user-circle-o"></i> Admin</p>
                <table>
                        <tr>
                            <th>product name</th>
                            <th>Id#</th>
                            <th>category</th>
                            <th>sale date</th>
                            <th>price</th>
                        </tr>
                    
                        <tr>
                            <th>Total</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <th>0</th>    
                        </tr>
                    </table>
            </main>
            <footer class="foot">
                <p>Store Manager, Copyright &copy; 2018</p>
            </footer>
        </div>
    <!-- js -->
    <script src="../../static/mystyles.js"></script>
    </body>
</html>